<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/getting_started">Getting Started</a></li>
	        		<li><a href="/installation">Installation</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/civilcfd">github.com/civilcfd</a></li>
				</ul>
			</footer>
		</body>
	</html>
